@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/*=================== BASE ===================*/
:root {
  --blue: #2f4d76;
  --yellow: #FFD700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", serif;
  background-color: var(--blue);
  color: #ffffff;
}

ul {
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

/*=================== NAV ===================*/
<<<<<<< HEAD
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
=======
.nav-container img {
  width: 700px;
  justify-content: center
 
  
;

  
  
>>>>>>> 931fde4182e075ad5e72f1d047b0616c1dd569bb

}
.logo {
  font-size: 24px;
  font-weight: bold;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline;
}
nav ul li a {
  text-decoration: none;
  font-size: 16px;
}
.anasayfa{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.anasayfa-yazı {
  flex: 1;
  max-width: 500px;
}
.anasayfa-yazı h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
.anasayfa-yazı p {
  font-size: 16px;
  margin-bottom: 20px;
}
.anasayfa-yazı button {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid white;
  cursor: pointer;
  transition: 0.3s;
}
.anasayfa-yazı button:hover {
  background: white;
  color: #004f85;
}
.anasayfa-img img {
  max-width: 500px;
}
/*=================== MAIN ===================*/

/*=================== RESPONSIVE DESIGN ===================*/